body {
  margin: 0;
  /* padding: 10px; */

  font-family: 'Press Start 2P', cursive;
  background-color: black;
  height: 100vh;

}


img, input, button {
  display: block;
  margin: 0;
  padding: 0;
}


.employee-card{
  /* border: 2px solid red; */
  /* border-bottom: 2px solid white; */
  font-size: 10px;
  color: white;
  border: 1px solid rgba(255, 0, 255, 0.682);
  border-radius: 5px;
  padding: 5px 15px;
}

/* .date-input{
  width: 250px;
} */

#root {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  
}

.title {
  color: rgba(0, 255, 94, 0.841);
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

h1 {
  text-align: center;
}

h4 {
  color: rgb(142, 142, 142);
  min-width: 280px;
  max-width: 900px;
  text-align: center;
  /* margin-top: 50px; */
  border: 2px solid rgba(255, 255, 255, 0.22);
  padding: 10px;

  
}


.main {
  /* border: 1px solid rgb(116, 0, 116); */
  width: 100%;
  /* height:100%; */
  border-radius: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  

  background-image: linear-gradient(to top, #000729, #050c2b, #09112d, #0d1430, #121732);
  /* box-shadow: 0 0 .1rem #ff0000,
            0 0 .1rem #b700ff,
            0 0 0.5rem #f038c8,
            0 0 0.4rem #64008b,
            0 0 0.7rem #64008b,
            inset 0 0 0.6rem #64008b; 


            overflow-y: hidden;
            overflow-y: scroll; */

            /* height: 100vh; */
  /* padding: 20px; */
}

.marquee-container {
  height: 150px;
  /* color: rgb(255, 255, 255); */
  /* background-color: rgba(255, 0, 0, 0.896); */
  background-color: white;
  margin-bottom: 20px;
  font-size: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}


.employee-div{
  /* border: 1px solid rgb(255, 0, 238); */
  /* padding: 10px; */
  min-width: 90%;
  height: screen;
  overflow-y: scroll;
  border-radius: 7px;
  /* box-shadow: inset rgba(255, 255, 255, 0.35) 3px 3px 15px; */
  box-shadow: inset 0px 5px 15px -1px rgba(140, 140, 140, 0.3);
  margin-bottom: 20px;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  gap: 20px;

}


.btn{

background-color: #04062c;
border: 0;
padding: 10px 25px;
border-radius: 2px;
color: white;
cursor: pointer;
text-transform: uppercase;
font-family: 'Press Start 2P', cursive;
font-size: 11px;
min-width: 135px;
}

.btn:hover{
  /* background-color: rgba(71, 71, 71, 0.628); */
  background-color: #00695c;
  /* box-shadow: rgb(0, 255, 94) 0px 2px 4px; */
  /* color: rgb(0, 255, 94); */
  /* transition: ease-in-out color 1s; */
  transition: ease-in-out background-color 0.75s;
  
}

.buttons-div {
  
  width: 90%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 20px;
  flex-wrap: wrap;
}



.new-employee-div{ 
  color: white;
  /* border: 1px solid white; */
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  
  gap: 15px;

  /* border: 1px solid magenta; */
  padding: 20px;
}
.new-employee-birth-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-employee-section{
  background-image: linear-gradient(to top, #000729, #050c2b, #09112d, #0d1430, #121732);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* justify-content: center; */
  /* border: 2px solid red; */
  /* height: 80%; */
  position: relative;
}

.new-employee-div div {
  font-size: 12px;
}

.info-note{
  width: 300px;
  align-self: center;
  margin-top:auto;
  margin-bottom: 50px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid magenta;
  background-color: rgba(255, 0, 255, 0.721);
  color: white;
}

.info-note path{
  color: white;
  
}

h3{
  color: rgba(0, 255, 94, 0.841);
  margin-top: 50px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
}

.letsgo{
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
  position: absolute;
  bottom: 200px;
}

.new-emp-err-div{
  /* border: 2px solid white; */
  height: 40px;
  width: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: scroll;
  /* margin-left: auto; */
  margin-top: 50px;
  padding: 10px;
  gap: 10px;
  align-self: center;
}

.new-emp-err-div div {
  /* width: 180px; */
width: 100%;
}


.new-employee-name-div , .new-employee-email-div , .new-employee-birth-div, .new-employee-service-div , .new-employee-projects-div , .new-employee-position-div {
  /* border: 2px solid white; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
  max-width: 400px;
}

.ant-picker {
  /* margin: ; */
}


.new-employee-name-div label , .new-employee-email-div  label, .new-employee-birth-div label , .new-employee-service-div label, .new-employee-position-div label, .new-employee-projects-div label {
  /* border: 2px solid red; */
  width: 45%;
  
}



.new-employee-birth-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}